<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thisteam.muhansangsa.mapper.ClientMapper">

	<!-- 거래처 등록 -->
	<insert id="insertClient">
		INSERT client
			VALUES(
				#{business_no}
				, #{cust_name}
				, #{boss_name}
				, #{uptae}
				, #{jongmok}
				, #{tel}
				, #{email}
				, #{post_no}
				, CONCAT(#{addr}, '/', #{detailedAddr})
				, #{g_gubun}
				, #{fax}
				, #{mobile_no}
				, #{url_path}
				, #{man_name}
				, #{man_tel}
				, #{man_email}
				, #{remarks}
			)
	</insert>

	<!-- 거래처 목록 조회 -->
	<select id="selectClientList" resultType="ClientVO">
<!-- 		SELECT * -->
		SELECT business_no, cust_name, boss_name, tel, addr, mobile_no, remarks
			FROM client
			<if test="!keyword.equals('')">
			WHERE
			<choose>
				<when test="searchType.equals('business_no')">
					business_no LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('cust_name')">
					cust_name LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('boss_name')">
					boss_name LIKE '%${keyword}%' 
				</when>
				<when test="searchType.equals('addr')">
					addr LIKE '%${keyword}%'
				</when>
			</choose>		
		</if>
<!-- 		ORDER BY -->
		LIMIT 
			#{startRow}
			, #{listLimit}
	</select>

	<!-- 거래처 코드 조회 (중복 확인) -->
	<select id="selectBusinessNo" resultType="ClientVO">
		SELECT business_no
			FROM client
			WHERE business_no = #{business_no}
	</select>

	<!-- 거래처 상세 정보 조회 -->
	<select id="selectClient" resultType="ClientVO">
		SELECT *
			FROM client
			WHERE business_no = #{business_no} 
	</select>
	
	<!-- 거래처 정보 수정 -->
	<update id="updateClient">
		UPDATE client
			SET business_no = #{client.business_no}
				, cust_name = #{client.cust_name}
				, boss_name = #{client.boss_name}
				, uptae = #{client.uptae}
				, jongmok = #{client.jongmok}
				, tel = #{client.tel}
				, email = #{client.email}
				, post_no = #{client.post_no}
				, addr = CONCAT(#{client.addr}, '/', #{client.detailedAddr})
				, g_gubun = #{client.g_gubun}
				, fax = #{client.fax}
				, mobile_no = #{client.mobile_no}
				, url_path = #{client.url_path}
				, man_name = #{client.man_name}
				, man_tel = #{client.man_tel}
				, man_email = #{client.man_email}
				, remarks = #{client.remarks}
			WHERE business_no = #{client.business_no}
	</update>

</mapper>
