<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thisteam.muhansangsa.mapper.EmployeesMapper">
	
	<!-- --------------------------------------인사관리 (사원 등록) ------------------ -->
	
	<insert id="insertEmployee" >
			<selectKey keyProperty="idx" resultType="integer" order="BEFORE">
				SELECT MAX(idx) FROM employees
			</selectKey>
			INSERT 
				INTO employees
					VALUES (
						<choose>
							<when test="idx eq '0'">
							1
							</when>
							<otherwise>
							(#{idx} + 1)
							</otherwise>
						</choose>
						<choose>
							<when test="emp_Num eq null">
							,1
							</when>
							<otherwise>
							, #{emp_Num}
							</otherwise>
						</choose>
						,#{emp_Name}
						,#{dept_Cd}
						,#{grade_Cd}
						,#{emp_Tel}
						,#{emp_Dtel}
						,#{emp_Email}
						,#{emp_Passwd}
						,#{emp_Post_No}
						,#{emp_Addr}
						,#{hire_Date}
						,#{work_Cd}
						,#{priv_Cd}
						,#{photo}
					
					); 
		
		</insert>


		<!-- 사원 번호를 위한 부서코드 추출  --> 
		<select id="selectDepartmentCode" resultType="string">
			SELECT DEPT_CD
				FROM department
					WHERE DEPT_NAME = #{dept_Cd}
		</select>

		<!-- 사원 번호를 위한 idx 추출 -->
		<select id="selectIdx" resultType="string">
			SELECT LPAD((MAX(idx) + 1) , 3, '0')
				FROM employees
		</select>
		
		<!-- ---------------------------------------------------인사 관리 (사원 등록)-------------------------- -->
		
    
    
    

<!-- =============================== 인사관리 : 로그인(세원) =========================================  -->
<!-- 로그인, 패스워드 확인  -->
<select id="selectPass" resultType="string">
	SELECT emp_passwd
		FROM employees
		WHERE emp_email = #{emp_email}
</select>



</mapper>
