<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thisteam.muhansangsa.mapper.InMapper">

	<!-- ======================== yeram ============================== -->
	<!-- 입고예정목록 -->
	<select id="selectInProList" resultType="inProcessingVO">
		SELECT *
			FROM in_processing_view
	</select>
	
	<!-- 입고처리 폼 -->
	<select id="selectInRegisterList" resultType="inRegisterVO">
		SELECT in_schedule_cd, product_name, in_schedule_qty
			FROM IN_REGISTER_VIEW
			WHERE IN_SCHEDULE_CD IN
			<foreach collection="in_schedule_cd" item="code" separator="," open="(" close=")"  index="index">
				#{code}
			</foreach>
			AND product_name IN
			<foreach collection="product_name" item="name" separator="," open="(" close=")"  index="index">
				#{name}
			</foreach>
			AND in_date IN
			<foreach collection="in_date" item="date" separator="," open="(" close=")"  index="index">
				#{date}
			</foreach>
	</select>
	
	<!-- ======================== yeram ============================== -->
	
	<!-- ======================== sangwoo ============================ -->
	<select id="getClientList" resultType="ClientVO">
		SELECT business_no,cust_name
			FROM client
			<if test="!keyword.equals('')">
			WHERE
				<choose>
					<when test="searchType.equals('cust_name')">
						cust_name LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('business_no')">
						business_no LIKE '%${keyword}%'
					</when>
				</choose>
		</if>
			ORDER BY
				cust_name
			
  	</select>
	
	<select id="getEmployeeList" resultType="EmployeesVO">
		SELECT e.emp_num, e.emp_name
			FROM employees e
			JOIN department d
			ON e.dept_cd = d.dept_cd
			<if test="!keyword.equals('')">
			WHERE
				<choose>
					<when test="searchType.equals('emp_name')">
						emp_name LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('emp_num')">
						emp_num LIKE '%${keyword}%'
					</when>
<!-- 					<when test="searchType.equals('dept_cd')"> -->
<!-- 						dept_cd LIKE '%${keyword}%' -->
<!-- 					</when> -->
<!-- 					<when test="searchType.equals('dept_name')"> -->
<!-- 						dept_name LIKE '%${keyword}%' -->
<!-- 					</when> -->
				</choose>
		</if>
			ORDER BY
				emp_name
	</select>
	
	<select id="getInList" resultType="InVO">
		SELECT i.in_schedule_cd,it.in_type_name,c.cust_name,e.emp_name,pd.product_name,i.in_date 
			FROM in_schedule i
			JOIN in_type it
			ON i.in_type_cd = it.in_type_cd
			JOIN client c
			ON i.business_no = c.business_no
			JOIN employees e
			ON i.emp_num = e.emp_num
			JOIN in_schedule_per_product ipp
			ON i.in_schedule_cd = ipp.in_schedule_cd
			JOIN product pd
			ON ipp.product_cd = pd.product_cd
	</select>
	
	<select id="getProductList" resultType="com.thisteam.muhansangsa.vo.ProductVO">
		SELECT product_cd, product_name
			FROM product
			WHERE business_no = #{businese_no_ajax}
	</select>
	
	<!-- ======================== sangwoo ============================ -->
</mapper>
