<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thisteam.muhansangsa.mapper.InMapper">

	<!-- ======================== yeram ============================== -->
	<!-- 입고예정목록 -->
	<select id="selectInProList" resultType="inProcessingVO">
		SELECT *
			FROM in_processing_view
	</select>
	
	<!-- 입고처리 폼 -->
	<select id="selectInRegisterList" resultType="inRegisterVO">
		SELECT *
			FROM IN_REGISTER_VIEW
			WHERE IN_SCHEDULE_CD IN
			<foreach collection="in_schedule_cd" item="code" separator="," open="(" close=")"  index="index">
				#{code}
			</foreach>
			AND product_name IN
			<foreach collection="product_name" item="name" separator="," open="(" close=")"  index="index">
				#{name}
			</foreach>
			AND in_date IN
			<foreach collection="in_date" item="date" separator="," open="(" close=")"  index="index">
				#{date}
			</foreach>
	</select>
	
	<!-- ======================== yeram ============================== -->
	
	<select id="getClientList" resultType="ClientVO">
		SELECT business_no,cust_name
			FROM client
  </select>
	
	<select id="getEmployeeList" resultType="EmployeesVO">
		SELECT e.emp_num, e.emp_name, e.dept_cd, d.dept_name
			FROM employees e
			JOIN department d
			ON e.dept_cd = d.dept_cd
	</select>
	
	<select id="getInList" resultType="InVO">
		SELECT i.in_schedule_cd,it.in_type_name,c.cust_name,e.emp_name,pd.product_name,i.in_date 
			FROM in_schedule i
			JOIN in_type it
			ON i.in_type_cd = it.in_type_cd
			JOIN client c
			ON i.business_no = c.business_no
			JOIN employees e
			ON i.emp_num = e.emp_num
			JOIN in_schedule_per_product ipp
			ON i.in_schedule_cd = ipp.in_schedule_cd
			JOIN product pd
			ON ipp.product_cd = pd.product_cd
	</select>
</mapper>
