<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thisteam.muhansangsa.mapper.OutMapper">


<!-- ====================================HAWON=================================== -->
	<!-- 사원검색 -->
	<select id="selectEmp" resultType="Emp_viewVO">
	  
		 SELECT EMP_NUM, EMP_NAME, DEPT_NAME, GRADE_NAME 
		 FROM emp_view
		 WHERE EMP_NAME LIKE '%${keyword}%' 
			 OR DEPT_NAME LIKE '%${keyword}%' 
			 OR GRADE_NAME LIKE '%${keyword}%' 
			 OR EMP_NUM LIKE '%${keyword}%' 
		
	</select>
	
	<!-- 재고있는 상품 검색 -->
	<select id="selectProductStockExist" resultType="Stock_viewVO">
		SELECT PRODUCT_CD,PRODUCT_NAME
		FROM STOCK_VIEW 
		WHERE STOCK_QTY !=0;
		
	</select>
  
  
  
	<!-- ========================================================================= -->





<!-- ==================================== sewon =================================== -->
	<!--출고 예정 목록 조회 페이지 조회용(JSON)  -->
	<!--전체 조회-->
	<select id="selectOutList" resultType="com.thisteam.muhansangsa.vo.Out_scheduleListVO">
		SELECT
			a.out_schedule_cd,
			a.business_no,
			d.cust_name,
			a.emp_num,
			b.out_date,
			a.remarks,
			b.out_complete,
			b.product_cd,
			c.product_name,
			b.out_schedule_qty,
			b.out_qty,
			b.remarks,
			b.stock_cd
		FROM
			out_schedule a, 
			out_schedule_per_product b,
			product c,
			client d
		WHERE
			a.out_schedule_cd = b.out_schedule_cd
			AND b.product_cd = c.product_cd
			AND a.business_no = d.business_no
			<if test="status gte 0">
				AND b.out_complete = #{status}
			</if>
			<if test="!keyword.equals('')">
			<choose>
				<when test="searchType.equals('out_schedule_cd')">
					AND a.out_schedule_cd LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('product_name')">
					AND c.product_name LIKE '%${keyword}%'
				</when>
			</choose>
			</if>
		ORDER BY 
			a.out_schedule_cd DESC
	</select>
  
  
  
  
	<!-- ========================================================================= -->
  
   <!-- ==========================================================================23/02/09 미주-->
	
   <!--  
   		출고 관리 목록 조회 (출고번호에 해당하는 세부 항목 조회)
   		1. VIEW 테이블 내에서 ORDER BY 정렬 완료
   		2. 페이징 처리 완료
    -->
   <select id="selectOutTotalScheduleList" resultType="Out_scheduleListVO">
   		SELECT *
   			FROM out_schedule_total_view
		<if test="!keyword.equals('')">
   			WHERE
  			<choose>
				<when test="searchType.equals('OUT_SCHEDULE_CD')">
					  OUT_SCHEDULE_CD LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('PRODUCT_NAME')">
					  PRODUCT_NAME LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('CUST_NAME')">
					  CUST_NAME LIKE '%${keyword}%'
				</when>
			</choose>
		</if>
			LIMIT 
				#{startRow}, #{listLimit}
   </select>
   
   <!-- 출고 관리 목록 페이징 처리 -->
	<select id="selectOutTotalScheduleListCount" resultType="int">
		SELECT COUNT(*)
			FROM out_schedule_total_view 
			<if test="!keyword.equals('')">
   			WHERE
  			<choose>
				<when test="searchType.equals('OUT_SCHEDULE_CD')">
					  OUT_SCHEDULE_CD LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('PRODUCT_NAME')">
					  PRODUCT_NAME LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('CUST_NAME')">
					  CUST_NAME LIKE '%${keyword}%'
				</when>
			</choose>
		</if>
	</select>
	
	
	<!-- (1). 출고 수정 정보 상단에 해당하는 정보 조회 (고정된 값) -->
	<select id="selectOutModifyFixedList" resultType="Out_schedule_total_viewVO">
		SELECT * 
			FROM OUT_SCHEDULE_TOTAL_VIEW
			WHERE OUT_SCHEDULE_CD = #{out_schedule_cd}
			GROUP BY #{out_schedule_cd}
	</select>
	
	<!-- (2). 출고 수정 정보 하단에 해당하는 정보 조회 (수정 가능한 값) -->
	<select id="selectOutModifyList" resultType="Out_schedule_total_viewVO">
		SELECT *
			FROM OUT_SCHEDULE_TOTAL_VIEW
			WHERE OUT_SCHEDULE_CD = #{out_schedule_cd}
	</select>
	<!-- 출고 처리 항목 수정 내용 비즈니스 로직 실행 -->
	<update id="updateOutScheduleModifyPro">
		UPDATE OUT_SCHEDULE_TOTAL_VIEW
			SET  
				OUT_SCHEDULE_QTY = #{total.out_schedule_qty}
			   ,OUT_QTY = #{total.out_qty}
			   ,REMARKS = #{total.remarks}
			   ,OUT_DATE = #{total.out_date}
			WHERE 
				OUT_SCHEDULE_CD = #{total.out_schedule_cd}
			AND 
				CUST_NAME = #{total.cust_name}
			AND 
				PRODUCT_NAME = #{total.product_name}
	</update>
	
   <!-- ==========================================================================23/02/09 미주-->	
  
</mapper>
