<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thisteam.muhansangsa.mapper.StockMapper">

	<select id="selectStockList" resultType="Stock_viewVO">
		SELECT * 
		FROM stock_view
			<if test="!keyword.equals('')">
			
			<!-- 2. 검색타입(searchType) 에 따른 WHERE 대상 변경 -->
			<!-- => 조건이 복수개이므로 choose 태그 사용 -->
			<choose>
				<when test="searchType.equals('STOCK_CD')">
					WHERE STOCK_CD LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('PRODUCT_NAME')">
					WHERE PRODUCT_NAME LIKE '%${keyword}%'
				</when>
				<otherwise>
				</otherwise>
			</choose>		
			</if>
			
			LIMIT #{startRow}, #{listLimit}
	</select>

	<!-- 재고테이블에서 특정 상품 가져오는 태그  -->
	<select id="selectProductInLoc" resultType="Stock_viewVO">
	
		SELECT *
		FROM STOCK_VIEW 
		WHERE PRODUCT_CD = #{product_cd};
	</select>
</mapper>
