<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thisteam.muhansangsa.mapper.WarehouseMapper">
	
	<!-- 창고 등록 -->
	<insert id="insertWarehouse">
		INSERT
			INTO warehouse
			VALUES (
				#{wh_cd},
				#{wh_name},
				#{wh_gubun},
				#{wh_location},
				<choose>
				<when test="wh_addr.equals('')">
				' ',
				</when>
				<otherwise>
				CONCAT(#{wh_addr1}, ', ', #{wh_addr2}),
				</otherwise>
				</choose>
				#{wh_tel},
				#{wh_man_name},
				#{wh_use},
				#{remarks},
				#{wh_pcode}
			)
	</insert>
	
	<!-- 창고 목록 조회 -->
	<select id="selectWarehouseList" resultType="WarehouseVO">
		SELECT *
			FROM warehouse
			<if test="!keyword.equals('')">
			WHERE
				<choose>
					<when test="searchType.equals('wh_cd')">
						wh_cd LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('wh_name')">
						wh_name LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('wh_addr')">
						wh_addr LIKE '%${keyword}%' 
					</when>
					<when test="searchType.equals('wh_tel')">
						wh_tel LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('wh_man_name')">
						wh_man_name LIKE '%${keyword}%'
					</when>
				</choose>		
			</if>
<!-- 		ORDER BY -->
		LIMIT 
			#{startRow}
			, #{listLimit}
	</select>
	
	<!-- 목록 갯수 계산 (페이징 처리) -->
	<select id="selectWhListCount" resultType="int">
		SELECT COUNT(*)
			FROM warehouse
			<!-- 키워드 검색 있을 경우 -->
			<if test="!keyword.equals('')">
			WHERE
				<choose>
					<when test="searchType.equals('wh_cd')">
						wh_cd LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('wh_name')">
						wh_name LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('wh_addr')">
						wh_addr LIKE '%${keyword}%' 
					</when>
					<when test="searchType.equals('wh_tel')">
						wh_tel LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('wh_man_name')">
						wh_man_name LIKE '%${keyword}%'
					</when>
				</choose>		
			</if>
	</select>
	
	
	<!-- 창고 권한 -->
	<select id="selectWhPrivilege" resultType="string">
		SELECT dept_cd
			FROM employees
			WHERE EMP_EMAIL = #{sId}
	</select>
	
	<!-- 창고 상세정보 -->
	<select id="selectWarehouseDetail" resultType="WarehouseVO">
		SELECT *
			FROM warehouse
			WHERE wh_cd = #{wh_cd}
	</select>
	
	<!-- 창고 수정 -->
	<update id="updateWarehouse">
		UPDATE warehouse
			SET
				wh_name = #{wh_name},
				wh_gubun = #{wh_gubun},
				wh_location = #{wh_location},
				<choose>
				<when test="wh_addr.equals('')">
				wh_addr = ' ',
				</when>
				<otherwise>
				wh_addr = CONCAT(#{wh_addr1}, ', ', #{wh_addr2}),
				</otherwise>
				</choose>
				wh_tel = #{wh_tel},
				wh_man_name = #{wh_man_name},
				wh_use = #{wh_use},
				remarks = #{remarks},
				wh_pcode = #{wh_pcode}
			WHERE
				wh_cd = #{wh_cd}
	</update>
	
	<!-- 물류팀 직원 확인 -->
	<select id="selectWarehouseMan" resultType="string">
		SELECT emp_name
			FROM employees
			WHERE
				emp_name = '${wh_man_name}'
				AND
				dept_cd = '03'
	</select>
	
	<!-- 창고코드 중복 확인 -->
	<select id="selectWarehouseCode" resultType="string">
		SELECT wh_cd
			FROM warehouse
			WHERE
				wh_cd = '${wh_cd}'
	</select>
	
	<!-- 창고 코드 갯수 확인 -->
	<select id="selectCodeCount" resultType="int">
		SELECT count(*)
			FROM warehouse
			WHERE wh_cd LIKE '%${keyword}%'
	</select>
	
	<!-- 물류팀 직원 목록 -->
	<select id="selectLogiEmployeesList" resultType="string">
		SELECT emp_name
			FROM employees
			WHERE dept_cd = '03'
	</select>
	
</mapper>
