<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thisteam.muhansangsa.mapper.WmsWhViewMapper">
	
	<!-- 창고, 창고 구역, 창고 내 위치 목록 조회 -->
	<select id="selectWhViewList" resultType="Wms_wh_viewVO">
		SELECT * 
			FROM wms_wh_view
	</select>

	<select id="selectWhNameList" resultType="Wms_wh_viewVO">
		SELECT *
<!-- 				<if test="!wh_cd.equals('')"> -->
<!-- 					wh_name -->
<!-- 					<if test="wh_area_cd neq 0"> -->
<!-- 						, wh_area -->
<!-- 						<if test="wh_loc_in_area_cd neq 0"> -->
<!-- 							, wh_loc_in_area_cd -->
<!-- 						</if> -->
<!-- 					</if> -->
<!-- 				</if> -->
			FROM wms_wh_view
				WHERE 
				<if test="!wh_cd.equals('')">
					wh_cd = #{wh_cd}
					<if test="wh_area_cd neq 0">
						AND wh_area_cd = #{wh_area_cd}
						<if test="wh_loc_in_area_cd neq 0">
							AND wh_loc_in_area_cd = #{wh_loc_in_area_cd}
						</if>
					</if>
				</if>
<!-- 			<choose> -->
<!-- 				<when test="!wh_cd.equals('')"> -->
<!-- 					WHERE wh_cd = #{wh_cd} -->
<!-- 				</when> -->
<!-- 				<when test="wh_area_cd neq 0"> -->
<!-- 					WHERE wh_area_cd = #{wh_area_cd} -->
<!-- 				</when> -->
<!-- 				<when test="wh_loc_in_area_cd neq 0"> -->
<!-- 					WHERE wh_loc_in_area_cd = #{wh_loc_in_area_cd} -->
<!-- 				</when> -->
<!-- 			</choose> -->
	</select>
	
</mapper>
