<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>


<!-- XXXmapper.xml파일에서 com.thisteam.muhansangsa.vo.EmployeesVO 쓰는 대신 EmployeesVO만 쓰면 됨 ! -->
	<typeAliases>
		<typeAlias type="com.thisteam.muhansangsa.vo.EmployeesVO" alias="EmployeesVO"/>
	</typeAliases>
	
	
</configuration>
