<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>


<!-- XXXmapper.xml파일에서 com.thisteam.muhansangsa.vo.EmployeesVO 쓰는 대신 EmployeesVO만 쓰면 됨 ! -->
	<typeAliases>
		<typeAlias type="com.thisteam.muhansangsa.vo.EmployeesVO" alias="EmployeesVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.DepartmentVO" alias="DepartmentVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.GradeVO" alias="GradeVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.PrivilegeVO" alias="PrivilegeVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.WarehouseVO" alias="WarehouseVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.ClientVO" alias="ClientVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.WorksVO" alias="WorksVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.Emp_viewVO" alias="Emp_viewVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.WhAreaVO" alias="WhAreaVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.WhLocAreaVO" alias="WhLocAreaVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.Stock_viewVO" alias="Stock_viewVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.InVO" alias="InVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.StockHistoryViewVO" alias="StockHistoryViewVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.StockHistoryVO" alias="StockHistoryVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.Wms_wh_viewVO" alias="Wms_wh_viewVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.inProcessingVO" alias="inProcessingVO"/>
		<typeAlias type="com.thisteam.muhansangsa.vo.inRegisterVO" alias="inRegisterVO"/>
    	<typeAlias type="com.thisteam.muhansangsa.vo.Out_scheduleListVO" alias="Out_scheduleListVO"/>
    	<typeAlias type="com.thisteam.muhansangsa.vo.Out_schedule_total_viewVO" alias="Out_schedule_total_viewVO"/>
    	
	</typeAliases>
	
	
</configuration>
